# ignore all the emacs files
*~

.DS_Store

# ignore the files with hashtag
*#
.#*

# ignore the files in this repository
interpretation/
allInterpretation/

# text files
*.txt
/interpretation_improvements/
/classifierQC/
